{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Jobs</title>
    <link rel="stylesheet" href="/Static/css/individualmyjobs.css"> <!-- CSS file for styling -->
    <link rel="stylesheet" href="/Static/css/homepage.css">
</head>
<body>

    <header>
        <div class="navbar">
            <div class="logo">
                <img src="/images/Bcommune_logo.png" alt="Bcommune Logo">
            </div>
            <div class="search-bar">
                <input type="text" placeholder="   Search for jobs, skills, etc." />
            </div>
            <nav>
                <a href="{% url 'myjobs' %}">My Jobs</a>
                <a href="#">Notifications</a>
                <a href="#">My Profile</a>
            </nav>
        </div>
    </header>
    
    <!-- Main Container -->
    <div class="main-container">
        <!-- Left Sidebar -->
        <div class="sidebar">
            <img src = "{% static 'images/google.png' %}" alt="User Photo" class="profile-pic">
            <h2>GOOGLE</h2>
            <br><br>

            <h4>Trending Skills</h4>
            <ul>
                <li>#Data Structures</li>
                <li>#Data Analysis</li>
                <li>#Java Programming</li>
            </ul>
            <br>

            <h4>Profile Analytics</h4>
            <br>

            <h4>CORE</h4>
            <br><br>

            <h4>Options</h4>
            <ul>
                <li>Ideas & Invest</li>
                <li>Assessments</li>
                <li>FAQs</li>
            </ul>
        </div>

        <!-- Main Content -->
        <div class="content">
            <section class="job-explore">
                <div class="post-requirement">
                    <a href="{% url 'post_job' %}" class="post-button">+ Post a Job</a>
                </div>
              <h2>My Jobs</h2>
              <div class="job-cards">
                <div class="job-card">
                  <div class="company-logo">Company Logo</div>
                  <h3>Data Analyst</h3>
                  <p>CyberSense<br>Hyderabad</p>
                  <p>1 week ago</p>
                </div>
                <div class="job-card">
                  <div class="company-logo">Company Logo</div>
                  <h3>Data Analyst</h3>
                  <p>Google<br>Hyderabad</p>
                  <p>1 week ago</p>
                </div>
                <div class="job-card">
                  <div class="company-logo">Company Logo</div>
                  <h3>AI Engineer</h3>
                  <p>Google<br>Pune</p>
                  <p>2 weeks ago</p>
                </div>
              </div>
            </section>
        </div>
</body>
</html>