{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Jobs</title>
    <link rel="stylesheet" href="{% static 'css/homepage.css'%}">
    <link rel="stylesheet" href="{% static 'css/individualmyjobs.css'%}">
</head>
<body>

    {% include 'header2.html' %}
    
    
    <!-- Main Container -->
    <div class="main-container">
        <!-- Left Sidebar -->
        {% include 'sidebarcompany.html' %}

        <!-- Main Content -->
        <div class="content">
            <section class="job-explore">
                <div class="post-requirement">
                    <a href="{% url 'post_job' %}" class="post-button">+ Post a Job</a>
                </div>
              <h2>My Jobs</h2>
              <div class="job-cards">
                <div class="job-card">
                  <div class="company-logo">Company Logo</div>
                  <h3>Data Analyst</h3>
                  <p>CyberSense<br>Hyderabad</p>
                  <p>1 week ago</p>
                </div>
                <div class="job-card">
                  <div class="company-logo">Company Logo</div>
                  <h3>Data Analyst</h3>
                  <p>Google<br>Hyderabad</p>
                  <p>1 week ago</p>
                </div>
                <div class="job-card">
                  <div class="company-logo">Company Logo</div>
                  <h3>AI Engineer</h3>
                  <p>Google<br>Pune</p>
                  <p>2 weeks ago</p>
                </div>
              </div>
            </section>
        </div>
</body>
</html>